# Dependencies
node_modules/
client/node_modules/
server/node_modules/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# Build output
client/dist/

# Env
server/.env

# Misc
.DS_Store
Thumbs.db
